body {
    background: #000000;
    font-family: 'Space Mono';
    color: #333333;

}

* {
    padding: 0px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
    height: 1080px;

    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);

}

.error-tag {
    flex-basis: 0%;
    font-family: 'Inconsolata';
    font-size: 26px;
    letter-spacing: -2.5px;

    margin-top: 30px;
    margin-left: 70px;

    height: 100px;

}

.content-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-top: 0;
}

.crow img {
    width: 545px;
    height: 465px;
    margin-left: 30px;
}

.text-container {
    margin-top: 0px;
    margin-left: -10px;
}

.bad-news {
    font-size: 64px;
    letter-spacing: -2px;
    width: 560px;
}

.description {
    margin-top: 50px;
    margin-left: 0px;
    width: 365px;
    font-size: 22px;
}

.button {
    background-color: #333333;

    margin-top: 70px;

    width: 215px;
    height: 70px;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;

    display: inline-block;
    font-size: 14px;
    font-family: 'Space Mono';
    letter-spacing: -1px;
}

.footer {
    text-align: center;
    margin-top: auto;
    align-self: flex-end;

    margin-bottom: 20px;
    color: #bdbdbd;
    font-family: 'Montserrat';
}


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px){
    .container {
        height: 949px;
    }

    .error-tag {
        margin-left: 35px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
    }

    .text-container {
        margin-top: 0px;
        margin-left: 25px;
    }

    img {
        width: 287px;
        height: 238px;
        margin-left: -2%;
    }

    .bad-news {
        width: 350px;
        font-size: 48px;
        letter-spacing: -2px;
    }

    .description {
        font-size: 18px;
        width: 328px;
    }

    .button {
        font-size: 14px;
    }

    .footer {
        font-size: 14px;
        padding: 10px;
        padding-right: 15px;
    }
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
    .content-container {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    img {
        width: 367px;
        height: 318px;
        margin-left: -7%;
    }

    .bad-news {
        font-size: 49px;
        width: 430px;
    }

    .text-container {
        margin-top: 0px;
        margin-left: 30px;
    }

    .description {
        font-size: 17px;
        width: 280px;
    }
}
 
 /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){

    img {
        width: 367px;
        height: 318px;
        margin-left: -5%;
    }

    .bad-news {
        font-size: 44px;
        width: 368px;
    }

    .description {
        margin-top: 50px;
        margin-left: 0px;
        width: 310px;
        font-size: 17px;
    }
}
 
 /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px){
    img {
        width: 500px;
        height: 420px
    }

    .bad-news {
        font-size: 50px;
        width: 479px;
    }

    .description {
        font-size: 18px;
    }
}
