body {
    background: #000000;
    font-family: 'Space Mono';
    color: #333333;
    
}

* {
    padding: 0px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    max-width: 1440px;
    height: 1080px;

    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);

}

.error-tag {
    flex-basis: 0%;
    font-family: 'Inconsolata';
    font-size: 24px;
    letter-spacing: -2px;

    margin-top: 30px;
    margin-left: 70px;

    width: 100%;
    height: 100px;

}

.content-container {
    width: 100%;
    margin-top: 0;


    display: flex;

    flex-direction: row;


}

#image img {


    width: 545px;
    height: 465px;

    margin-left: -30px;

}

.text-container {
    margin-top: 0px;
    margin-left: -10px;

}

.bad-news {
    font-size: 63px;
    letter-spacing: -2px;
    width: 557px;
}

.description {
    margin-top: 50px;
    margin-left: 0px;
    width: 365px;
    font-size: 22px;
}

.button {
    background-color: #333333; /* Green */

    margin-top: 70px;

    width: 215px;
    height: 70px;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;

    display: inline-block;
    font-size: 14px;
    font-family: 'Space Mono';
    letter-spacing: -1.5px;
}

.footer {
    text-align: center;
    margin-top: auto;
    align-self: flex-end;

    margin-bottom: 0;
}

@media (max-width: 1160px){
    .bad-news {
        font-size: 57px;
    }

    .description {
        font-size: 20px;
    }
}

@media (max-width: 1050px){
    #image img {
        width: 500px;
        height: 420px
    }



    .bad-news {
        font-size: 45px;
        width: 479px;
    }

    .description {
        font-size: 17px;
    }
}


@media (max-width: 885px){
    #image img {
        width: 440px;
        height: 380px;
    }

    .bad-news {
        font-size: 40px;
        width: 427px;
    }

    .description {
        font-size: 14px;
        width: 258px;
    }
}

@media (max-width: 775px) {
    .content-container {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }

    .bad-news {
        font-size: 49px;

    }

    .description {
        font-size: 16px;
        width: 258px;
    }
}

@media (max-width: 485px){
    #image img {
        width: 410px;
        height: 350px;
        margin-left: -49px;
    }

    .bad-news {
        font-size: 41px;
    }

    .footer {
        font-size: 14px;
        padding: 10px;

        padding-right: 91px;
    }
}

@media (max-width: 375px) {

    .container {
        height: 949px;
    }
    
    .error-tag {
        margin-left: 35px;    
    }

    .content-container {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }


    #image img{
        width: 238px;
        height: 238px;
    }

    .bad-news {
        font-size: 32px;
        letter-spacing: -2px;
    }
    
    .description {
        font-size: 18px;
    }
    
    .button {
        font-size: 14px;
    }

    .footer {
        font-size: 14px;
        padding: 10px;
        padding-right: 46px;
    }

}